# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dockerfile-generator-backend
  labels:
    app.kubernetes.io/name: dockerfile-generator-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: dockerfile-generator-backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dockerfile-generator-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/markbenjaminkatamba/dockerfile-generator-backend-dev:latest
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 512Mi
