apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{APP_NAME}}
  labels:
    app.kubernetes.io/name: {{APP_NAME}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{APP_NAME}}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{APP_NAME}}
    spec:
      containers:
        - name: {{CONTAINER_NAME}}
          image: {{IMAGE}}
          ports:
            - containerPort: {{CONTAINER_PORT}}


